# Entorno virtual
venv/
.env

# Archivos compilados de Python
__pycache__/
*.py[cod]

# Archivos de configuración de base de datos local
db.sqlite3

# Archivos de log
*.log

# Archivos de migración
*/migrations/

# Archivos de configuración específicos del sistema
.DS_Store
*.swp
.vscode/
